# Виртуальное окружение
.venv/

# Файлы базы данных
test.db

# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы миграций (если не хотите их коммитить, но обычно их включают)
# alembic/versions/

# Логи и другие временные файлы
*.log
.env